<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hi <%= @buyer.first_name_for_email %>,</h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Good news! <%= @seller.first_name_for_email %> has marked your order as delivered for task: <strong><%= @task.title %></strong>.</p>

<%= link_to "View Task", task_url(@task), style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;text-decoration:none" %>

<%= render "notifier/email_footer" %>
