<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hi <%= @seller.first_name_for_email %>,</h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">You have received a new message from <strong><%= @buyer.first_name_for_email %></strong> regarding your task: <strong><%= @task.title %></strong></p>
<div style="padding: 5px 20px; background: #f6f6f6;margin-bottom: 20px">
  <p style="font-size: 14px;color: #444;line-height:1.4;font-weight: 300;"><%= @message.content %></p>
</div>

<%= link_to "Reply", task_url(@task, tab: "tab2"), style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;text-decoration:none" %>

<%= render "notifier/email_footer" %>
