<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hi Admin</h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;"><strong><%= @seller.name %> (<%= @seller.email %>)</strong> just signed up on speedlancer. The category of interest by the seller is <%= @seller.category.name %></p>

<%= link_to "Review Seller", admin_seller_url(@seller), style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;text-decoration:none" %>

<%= render "notifier/email_footer" %>
