<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hi <%= @seller.first_name_for_email %>,</h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Congratulations! Your Speedlancer account has been created and approved. We're glad to have you on board!</p>

<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Please use the following credentials to login your account at <a style="color: #069;text-decoration:none; border-bottom: 1px dashed #069;" href="http://my.speedlancer.com">Speedlancer</a></p>

<div style="padding: 5px 20px; background: #f6f6f6;margin-bottom: 20px">
  <p style="font-size: 14px;color: #444;line-height:1.4;font-weight: 300;"><strong>Email: </strong><%= @seller.email %></p>
  <p style="font-size: 14px;color: #444;line-height:1.4;font-weight: 300;"><strong>Password: </strong><%= @password %></p>
</div>

<%= link_to "Login", login_url, style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;text-decoration:none" %>

<%= render "notifier/email_footer" %>
