<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hey <%= @buyer.first_name_for_email %>,</h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">There is a new comment by <%= @commenter.first_name_for_email %> on task: <strong><%= @task.title %></strong></p>
<div style="padding: 5px 20px; background: #f6f6f6;margin-bottom: 20px">
  <p style="font-size: 14px;color: #444;line-height:1.4;font-weight: 300;"><%= @comment.body %></p>
</div>

<%= link_to "View Task", task_url(@task, tab: "tab3"), style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;" %>

<%= render "notifier/email_footer" %>
