<div class="modal fade open" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-head clearfix">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>
		</div><!-- /.modal-head -->

		<div class="modal-content">
			<div class="container">
				<div class="modal-row">
					<div class="modal-col">
						<section class="section-task">
							<div class="section-head">
								<div class="badge-icon">
									<i class="ico-badge">
										<img />
									</i>
								</div><!-- /.badge-icon -->
					
								<h2 class="section-title">Logo Design</h2><!-- /.section-title -->

								<h3 class="section-subtitle">Subtitle</h3>
					
								<div class="section-desc">Description</div>
							</div><!-- /.section-head -->
					
							<div class="section-actions">
								<a href="#" class="btn btn-xl btn-design">Buy now with $<span class='price'></span></a>
							</div><!-- /.section-actions -->
					
							<div class="section-body">
								<ol class="steps">
									<li class="step">
										<div class="step-icon">
											<i class="ico-small-cart"></i>
										</div><!-- /.step-icon -->
					
										<span class="step-count">&bull;</span>
					
										<p><strong>Buy</strong> now</p>
									</li><!-- /.step -->
									
									<li class="step">
										<div class="step-icon">
											<i class="ico-small-write"></i>
										</div><!-- /.step-icon -->
					
										<span class="step-count">&bull; &bull;</span>
					
										<p><strong>Submit</strong> <br /> your brief.</p>
									</li><!-- /.step -->
									
									<li class="step">
										<div class="step-icon">
											<i class="ico-small-check"></i>
										</div><!-- /.step-icon -->
					
										<span class="step-count">&bull; &bull; &bull;</span>
										<p><strong>Order</strong> now & it will be <strong>done</strong> by <br /> <span class='eta'>6pm tonight!</span></p>
									</li><!-- /.step -->
								</ol><!-- /.steps -->
							</div><!-- /.section-body -->
						</section><!-- /.section-task -->
					
						<section class="section-team">
							<div class="section-head">
								<h6>meet our speedlancers</h6>

								<span class="rating rating-white"></span>
							</div><!-- /.section-head -->

							<ul class="list-team">
								<li>
									<div class="avatar">
										<%= image_tag "temp/avatar.png" %>
									</div><!-- /.avatar -->

									<h6>Raj S.</h6>

									<p>Creative Agency Founder</p>
								</li>

								<li>
									<div class="avatar">
										<%= image_tag "temp/avatar-1.png" %>
									</div><!-- /.avatar -->

									<h6>Michelle F.</h6>

									<p>Senior Designer</p>
								</li><!-- /.profile -->
								<li>
									<div class="avatar">
										<%= image_tag "temp/avatar-2.png" %>
									</div><!-- /.avatar -->

									<h6>Louise S. </h6>

									<p>Writer @ The Guardian</p>
								</li>
							</ul><!-- /.list-team -->
						</section><!-- /.section-team -->
					</div><!-- /.modal-col -->

				
					
					<div class="modal-col">
						<section class="section-preview">
							<div class="section-inner custom-data">
								<div class="slider-logo">
									<div class="slider-clip">
										<ul class="slides">
											<li class="slide">
												<img src="<%= image_path("temp/slide-logo.jpg") %>" alt="" />
											</li><!-- /.slide -->
										</ul><!-- /.slides -->
									</div><!-- /.slider-clip -->
									
									<div class="slider-paging"></div><!-- /.slider-paging -->
								</div><!-- /.slider-logo -->
						
								<div class="profile-alt">
									<div class="avatar">
										<img src="<%= image_path("temp/avatar-4.png") %>" alt="" />
									</div><!-- /.avatar -->
						
									<div class="profile-label">
										<img src="<%= image_path("temp/ontario-logo.png") %>" alt="" />
									</div><!-- /.profile-label -->

									<div class="profile-body">
										<p><strong class='custom-data-title'>Logo Design</strong> by Speedlancer, <br /><strong class='custom-data-seller-name'>Vincent Roman</strong>, for <strong class='custom-data-company-name'>Ontario Security</strong></p>
									</div><!-- /.profile-body -->
								</div><!-- /.profile-alt -->
						
								<div class="tasks tasks-related">
									<div class="tasks-head">
										<p>Others also Purchased:</p>
									</div><!-- /.tasks-head -->
						
									<div class="tasks-body">
										<ul class="list-tasks">

											<% Bundle.recent(3).each do |bundle| %>
												<li>
													<div class="task task-bundle">
														<span class="task-icon">
															<i class="ico-box-small"></i>
														</span>

														<h6 class="task-title"><%= bundle.title %></h6>

														<div class="task-body">
															<span class="task-logo">
																<i class="icon icon-small">
																	<%= image_tag bundle.thumbnail %>
																</i>
															</span>
												
															<h4 class="task-price"><%= number_to_currency(bundle.price) %></h4><!-- /.task-price -->
														</div>
													</div>
												</li>
											<% end %>

										</ul>
									</div><!-- /.tasks-body -->
								</div><!-- /.tasks -->
							</div><!-- /.section-inner -->
						</section><!-- /.section-preview -->
					</div><!-- /.modal-col -->
				</div><!-- /.modal-row -->
			</div><!-- /.container -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>