	<div class="intro intro-home">
		<div class="slider-intro">
			<div class="slider-clip">
				<ul class="slides">
					<li class="slide">
						<div class="fullscreen hidden-xs" style="background-image: url(<%= image_path("temp/intro.jpg") %>);"></div>
						<div class="fullscreen visible-xs" style="background-image: url(<%= image_path("temp/intro-mobile.jpg") %>);"></div>

						<div class="slide-inner">
							<div class="container">
								<div class="row">
									<div class="col col-lg-6">
										<h1 class="intro-title">
											<span class="quote">&ldquo;</span> The <strong>Smarter</strong> Way to Get things Done <span class="quote">&rdquo;</span>
										</h1><!-- /.intro-title -->

										<p>
											<a href="#" class="btn btn-xl btn-design btn-fixed">how it works <i class="ico-arrow-right"></i></a>
										</p>

										<h3>featured in</h3>

										<ul class="list-featured">
											<li>
												<i class="ico-featured"></i>
											</li>
											
											<li>
												<i class="ico-featured-1"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-2"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-3"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-4"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-5"></i>
											</li>
										</ul><!-- /.list-featured -->
									</div><!-- /.col col-lg-6 -->
								</div><!-- /.row -->
							</div><!-- /.container -->

							<div class="slide-foot">
								<div class="container">
									<h4><strong>Miranda King</strong> Marketing Consultant</h4>
								</div><!-- /.container -->
							</div><!-- /.slide-foot -->
						</div><!-- /.slide-inner -->
					</li><!-- /.slide -->

					<li class="slide">
						<div class="fullscreen" style="background-image: url(<%= image_path("temp/intro-1.jpg") %>); "></div>

						<div class="slide-inner">
							<div class="container">
								<div class="row">
									<div class="col col-md-6">
										<h1 class="intro-title">
											<span class="quote">&ldquo;</span> The <strong>Smarter</strong> Way to Get things Done <span class="quote">&rdquo;</span>
										</h1><!-- /.intro-title -->

										<p>
											<a href="#" class="btn btn-xl btn-design btn-fixed">how it works <i class="ico-arrow-right"></i></a>
										</p>

										<h3>featured in</h3>

										<ul class="list-featured">
											<li>
												<i class="ico-featured"></i>
											</li>
											
											<li>
												<i class="ico-featured-1"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-2"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-3"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-4"></i>
											</li>
											
											<li class="hidden-xs">
												<i class="ico-featured-5"></i>
											</li>
										</ul><!-- /.list-featured -->
									</div><!-- /.col col-md-6 -->
								</div><!-- /.row -->
							</div><!-- /.container -->

							<div class="slide-foot">
								<div class="container">
									<h4><strong>Miranda King</strong> Marketing Consultant</h4>
								</div><!-- /.container -->
							</div><!-- /.slide-foot -->
						</div><!-- /.slide-inner -->
					</li><!-- /.slide -->

					<li class="slide">
						<div class="fullscreen hidden-xs" style="background-image: url(<%= image_path("temp/intro.jpg") %>);"></div>

						<div class="fullscreen visible-xs" style="background-image: url(<%= image_path("temp/intro-mobile.jpg") %>);"></div>

						<div class="slide-inner">
							<div class="container">
								<div class="row">
									<div class="col col-md-6">
										<h1 class="intro-title">
											<span class="quote">&ldquo;</span> The <strong>Smarter</strong> Way to Get things Done <span class="quote">&rdquo;</span>
										</h1><!-- /.intro-title -->

										<p>
											<a href="#" class="btn btn-xl btn-design btn-fixed">how it works <i class="ico-arrow-right"></i></a>
										</p>

										<h3>featured in</h3>

										<ul class="list-featured">
											<li>
												<i class="ico-featured"></i>
											</li>
											
											<li>
												<i class="ico-featured-1"></i>
											</li>
											
											<li>
												<i class="ico-featured-2"></i>
											</li>
											
											<li>
												<i class="ico-featured-3"></i>
											</li>
											
											<li>
												<i class="ico-featured-4"></i>
											</li>
											
											<li>
												<i class="ico-featured-5"></i>
											</li>
										</ul><!-- /.list-featured -->
									</div><!-- /.col col-md-6 -->
								</div><!-- /.row -->
							</div><!-- /.container -->

							<div class="slide-foot">
								<div class="container">
									<h4><strong>Miranda King</strong> Marketing Consultant</h4>
								</div><!-- /.container -->
							</div><!-- /.slide-foot -->
						</div><!-- /.slide-inner -->
					</li><!-- /.slide -->
				</ul><!-- /.slides -->
			</div><!-- /.slider-clip -->

			<div class="slider-foot">
				<div class="container">
					<div class="slider-paging"></div><!-- /.slider-paging -->
				</div><!-- /.container -->
			</div><!-- /.slider-foot -->
		</div><!-- /.slider-intro -->
	</div><!-- /.intro intro-home -->

	<div class="main">
		<nav class="nav-secondary">
			<div class="container">
				<ul>
					<li>
						<a href="#">&gt;Tell us what you need</a>
					</li>

					<li>
						<a href="#">&gt;Task Routed to Best Speedlancer</a>
					</li>
					
					<li>
						<a href="#">&gt; Project done!</a>
					</li>
				</ul>
			</div><!-- /.container -->
		</nav><!-- /.nav-secondary -->

		<section class="section section-tasks">
			<div class="container">
				<div class="section-head">
					<h2 class="section-title">Tasks</h2><!-- /.section-title -->

					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>

					<div class="btn-group btn-group-xl nav-tasks">
						<% @categories.each do |category| %>
							<a class="btn btn-<%= category.name.downcase %>" href=".item-<%= category.name.downcase %>"><%= category.name %></a>
						<% end %>
						<a class="btn btn-bundle" href=".item-bundle">bundle</a>
					</div><!-- /.btn-group -->
				</div><!-- /.section-head -->

				<div class="section-body">
					<div class="tasks">
						<ul class="isotope-items">

							<% @products.each do |product| %>
								<li class="isotope-item item-<%= product.category.name.downcase %>">
									<a href="<%= product_path(product) %>.json" class="task <%= "task-#{product.category.name.downcase}" %> modal-link <%= "active-#{product.id == @product.id}" unless @product.nil? %>">
										<span class="task-icon">
											<i class="icon"></i>
										</span>
										<h6 class="task-title"><%= product.title %></h6>
										<div class="task-body">
											<span class="task-logo">
												<i class="icon"><%= image_tag product.thumbnail %></i>
											</span>
										
											<h4 class="task-price">$<%= product.price %></h4><!-- /.task-price -->
										</div>
									</a>
								</li>
							<% end %>

							<% @bundles.each do |bundle| %>
								<li class="isotope-item item-bundle">
									<%= link_to bundle_path(bundle), :class => "task task-bundle" do %>
										<span class="task-icon">
											<i class="icon"></i>
										</span>
										
										<h6 class="task-title"><%= bundle.title %></h6>
										
										<div class="task-body">
											<span class="task-logo">
												<i class="icon"><%= image_tag bundle.thumbnail %></i>
											</span>
										
											<h4 class="task-price">$<%= bundle.price %></h4>
										</div>
									<% end %>
								</li>
							<% end %>
							
						</ul><!-- /.isotope-items -->
					</div><!-- /.tasks -->
				</div><!-- /.section-body -->

				<div class="section-actions nav-tasks">
					<a href=".isotope-item" class="btn btn-design btn-xl btn-fixed">browse all tasks</a>
				</div><!-- /.section-actions -->
			</div><!-- /.container -->
		</section><!-- /.section section-tasks -->

		<%= render partial: "layouts/resp_testimonial.html" %>

	</div><!-- /.main -->


	<!-- Modal -->
	<%= render partial: "task_modal.html" %>
